# more here: https://github.com/mathiasbynens/dotfiles/blob/master/.gitconfig

[init]
        templatedir = ~/.git_templates

[alias]
        # View the current working tree status using the short format
        s = status -s

[color]
        # Use colors in Git commands that are capable of colored output when
        # outputting to the terminal. (This is the default setting in Git ≥ 1.8.4.)
        ui = auto

[diff]
	# Detect copies as well as renames
	renames = copies

[help]
	# Automatically correct and execute mistyped commands
	autocorrect = 1

[user]
	name = Tim Cheung
	email = tim@cheung.io

[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true

[core]
	editor = atom --wait

[push]
	default = simple
